<!--Inspired by the Flask tutorial found on this webpage: https://code.tutsplus.com/tutorials/an-introduction-to-pythons-flask-framework--net-28822-->

{% extends "layout.html" %}
{% block content %}
    <div class = "jumbo">
        <h2>The Search for Kevin the Dog</h2>
        <h3>Fill in the blanks and see what kind of story I generate!</h3>
        <center><img src = "https://images.unsplash.com/photo-1507145569372-d69bae8bc9a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=60" alt = "Dog Picture"></center>
    </div>
{% endblock %}
